GwhrSettings.Client.Console/bin/
GwhrSettings.Client.Console/obj/
GwhrSettings.Core/bin/
GwhrSettings.Core/obj/
.vs/
GwhrSettings.RelationalDatabaseProvider/bin/
GwhrSettings.RelationalDatabaseProvider/obj/
